#container{
    display: flex;
    flex-flow: row nowrap;
    background-color: aquamarine;
   

}
.itens{
    background-color: pink;
    border: 1px solid black;
    text-align: center;
    
   
}
#c1{
flex: 2 0 250px;
}

#c2{
flex: 0 1 250px;
}

#c3{
flex: 1 2 250px;
}